<p style="color: green"><%= notice %></p>

<h1>Blogs</h1>

<table>
  <thread>
    <tr>
      <th>Blog Title</th>
      <th>Body</th>
      <th colspan='4'></th>
    </tr>
  </thread>

<tbody>
  <%= render @blogs %>
</tbody>

<%= link_to "New blog", new_blog_path %>
