<h1 align=center>Pages#contact</h1>
<p><%= number_to_phone "999290202" %></p>

<p><%= number_to_currency "150" %></p>

<p><%= number_to_percentage "80.4" %></p>

<p><%= number_with_delimiter "12232454656577" %></p>
