<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <main class="px-3">
    <h1 class="text-white">Welcome</h1>
    <p class="lead text-white">Batman blog test.</p>
    <p class="lead">
      <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-light fw-bold border-white bg-white" %>
    </p>
  </main>
</div>