<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <main class="px-3">
    <h1 class="text-white">Tech News</h1>
    <div class="row">
      <% @tweets.each do |tweet| %>
        <div class="col-md-6">
          <div class="tech-news">
            <div class="card">
              <%= tweet %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </main>
</div>